@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$primarycolor : cadetblue;
$secendarycolor : darkslateblue;
$rowcolor: lightgray;
$buttonColor: #9f449b;
$buttonColorHover: #9f449b;
$buttonBorder: violet;

.main-color {
  color: $buttonColorHover;
}

.btn-default {
  border-color: $buttonBorder;
  background-color: $buttonColor;
  padding: 15px 50px;
  color:white;
}

.btn-default:hover
{
  border-color: $buttonColor;
  background-color: $buttonColorHover;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, p, img, a {
  padding: 10px;
}

// help border yellow to see everything
//[class|=col] {
//  border: 5px solid gold;
//}

button {
  margin: 10px;
}

.container-fluid {
  padding: 0;
}

// main header
.intro {
  display: table;
  width: 100%;
  text-align: center;
  color: #fff;
  background: url(../images/river.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 100px 0;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}


// navbar
.navbar.navbar-default {
  margin-bottom: 0;
}

.sticky{
  position: fixed;
  top:0;
  left:0;
}
// ############# SVG
 svg
.cls-1, .cls-2, .cls-4 {
  fill: #fff;
}
.cls-1, .cls-5 {
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 0.1;
}

.cls-1:hover,
.cls-2:hover {
  stroke: #9f449b;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 1;
  fill: #9f449b;
}
.cls-1, .cls-2, .cls-5 {
  fill-rule: evenodd;
}

.cls-4 {
  text-anchor: middle;
  font-family: latoregular, sans-serif;
}

.clswid {
  text-align: center;
  max-width: 162px;
  width: 162px;
  margin: 25px auto;
}

.cls-5 {
  width: 30%;
}

.greyLine {
  background-color: $rowcolor;
}


// ################### about us

.laptop {
  float:left;
  width:50%;
  padding-bottom: 6%;
}

// paralax

.paralax {
  background-color:$primarycolor;
  color:white;
}

[class*="bg__"] {
  height: 50vh;

  //text-indent: -9999px;
  /* fix background */
  background-attachment: fixed;
  /* center it */
  background-position: center center;
  /* Scale it nicely to the element */
  background-size: cover;
  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__bar {
  background-image: url(../images/river2.jpg);
}

//ourTeam
.buttonRound {
  border: solid 1px $primarycolor;
  color: cadetblue;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.img-responsive {
  margin: 0 auto;
}

/* visited link */
.buttonRound:visited {
  color: $secendarycolor;
}

/* mouse over link */
.buttonRound:hover {
  color: $secendarycolor;
  border: solid 1px $secendarycolor;
  text-decoration: none;
}

/* selected link */
.buttonRound:active {
  color: blue;
  text-decoration: none;
}

.biggerCircle {
  padding: 40px;
  background-color: $rowcolor;
}

// ########## our skills

.progress-bar{
  background-color: $primarycolor;
}

.black{
  width:90%;
  height:20px;
  background-color: lightgray;
  margin-bottom:22px;
}

.violet-bell {
  width: 90%;
  height:20px;
  background-color: $buttonColor;
  animation: bar1 3s;
  -moz-animation: bar 3s;
  -webkit-animation: bar1 3s;
}

@keyframes bar1
{
  0% {width:0;}
  100% {width:90%;}
}

.violet-bell2 {
  width: 70%;
  height:20px;
  background-color: $buttonColor;
  animation: bar2 3s;
  -moz-animation: bar2 3s;
  -webkit-animation: bar2 3s;
}

@keyframes bar2
{
  0% {width:0;}
  100% {width:70%;}
}

.violet-bell3 {
  width: 75%;
  height:20px;
  background-color: $buttonColor;
  animation: bar3 3s;
  -moz-animation: bar3 3s;
  -webkit-animation: bar3 3s;
}

@keyframes bar3
{
  0% {width:0;}
  100% {width:75%;}
}

.violet-bell4 {
  width: 80%;
  height:20px;
  background-color: $buttonColor;
  animation: bar4 3s;
  -moz-animation: bar4 3s;
  -webkit-animation: bar4 3s;
}

@keyframes bar4
{
  0% {width:0;}
  100% {width:80%;}
}
// ########### 365

.numData, .numData2 {
  font-size: 2.0em;
  padding: 0;
  margin: 0;
}

.numData2 {
  font-size: 0.8em;
  padding-bottom: 40px;
}

.arrow{
  display: inline-block;
  color: #ffffff;
  background-color: $buttonColor;
  border-color: #130269;
  cursor: crosshair;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.pad-small {
  padding:0;
  margin:0;
}
.arrow:hover
{
  color: #ffffff;
  background-color: $buttonColorHover;
  border-color: #130269;
}

// ############## our portfolio
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.red {
  color:blue;
}

// mediaaaaaa queries


/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}