@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$primarycolor : cadetblue;
$secendarycolor : darkslateblue;
$rowcolor: lightgray;
$buttonColor: palevioletred;
$buttonColorHover: #9f449b;
$buttonBorder: violet;



.btn-default {
  border-color: $buttonBorder;
  background-color: $buttonColor;
}

.btn-default:hover
{
  border-color: $buttonColor;
  background-color: $buttonColorHover;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, p, img, a {
  padding: 10px;
}

// help border yellow to see everything
[class|=col] {
  border: 5px solid gold;
}

button {
  margin: 10px;
}

.container-fluid {
  padding: 0;
}

.intro {
  display: table;
  width: 100%;
  text-align: center;
  color: #fff;
  background: url(../images/river.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 100px 0;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}


//
//.mainHeader {
//  background: $primarycolor url("../images/river.jpg") no-repeat center;
//  color:white;
//  padding:300px;
//  //display: table;
//  //position: relative;
//  //-webkit-background-size: cover;
//  //-moz-background-size: cover;
//  //background-size: cover;
//  //-o-background-size: cover;
//  //max-height: 250px;
//  //box-sizing: border-box;
//  border: solid 5px red;
//}

// navbar
.navbar.navbar-default {
  margin-bottom: 0;
}

.sticky{
  position: fixed;
  top:0;
  left:0;
}

 svg
.cls-1, .cls-2, .cls-4 {
  fill: #fff;
}
.cls-1 {
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 0.1;
}
.cls-1:hover,
.cls-2:hover {
  stroke: #9f449b;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 1;
  fill: #9f449b;
}
.cls-1, .cls-2 {
  fill-rule: evenodd;
}
//.cls-3, .cls-4 {
//  font-size: 18px;
//}
.cls-4 {
  text-anchor: middle;
  font-family: latoregular, sans-serif;
}

.clswid {
  text-align: center;
  max-width: 162px;
  width: 162px;
  margin: 0 auto;
}
//
//svg {
//  width: 65%;
//  stroke: #fff;
//  stroke-linejoin: round;
//  stroke-width: 2px;
//  fill: #fff;
//  fill-opacity: 0.1;
//  fill-rule: evenodd;
//  transition: 1s;
//}
//svg:hover {
//  stroke: #9f449b;
//  stroke-linejoin: round;
//  stroke-width: 1px;
//  fill-opacity: 0.1;
//  fill: #9f449b;
//  fill-rule: evenodd;
//}
// 4 boxes in grey line
.greyLine {
  background-color: $rowcolor;
}


// ################### about us

.laptop {
  float:left;
  width:50%;
}

// paralax

.paralax {
  background-color:$primarycolor;
}

//ourTeam
.buttonRound {
  border: solid 1px $primarycolor;
  color: cadetblue;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.img-responsive {
  margin: 0 auto;
}

/* visited link */
.buttonRound:visited {
  color: $secendarycolor;
}

/* mouse over link */
.buttonRound:hover {
  color: $secendarycolor;
  border: solid 1px $secendarycolor;
  text-decoration: none;
}

/* selected link */
.buttonRound:active {
  color: blue;
  text-decoration: none;
}

.biggerCircle {
  padding: 40px;
  background-color: $rowcolor;
}

// ########## our skills

.progress-bar{
  background-color: $primarycolor;
}

.black{
  width:100%;
  height:20px;
  background-color: lightgray;
  margin-bottom:22px;
}

.violet-bell {
  width: 90%;
  height:20px;
  background-color: violet;
  animation: bar1 3s;
  -moz-animation: bar 3s;
  -webkit-animation: bar1 3s;
}

@keyframes bar1
{
  0% {width:0;}
  100% {width:90%;}
}

.violet-bell2 {
  width: 70%;
  height:20px;
  background-color: violet;
  animation: bar2 3s;
  -moz-animation: bar2 3s;
  -webkit-animation: bar2 3s;
}

@keyframes bar2
{
  0% {width:0;}
  100% {width:70%;}
}

.violet-bell3 {
  width: 75%;
  height:20px;
  background-color: violet;
  animation: bar3 3s;
  -moz-animation: bar3 3s;
  -webkit-animation: bar3 3s;
}

@keyframes bar3
{
  0% {width:0;}
  100% {width:75%;}
}

.violet-bell4 {
  width: 80%;
  height:20px;
  background-color: violet;
  animation: bar4 3s;
  -moz-animation: bar4 3s;
  -webkit-animation: bar4 3s;
}

@keyframes bar4
{
  0% {width:0;}
  100% {width:80%;}
}
// ########### 365

.numData {
  font-size: 1.6em;
}

// ############## our portfolio
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}