@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$primarycolor : cadetblue;
$secendarycolor : darkslateblue;
$rowcolor: lightgray;

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, p, img, a {
  padding: 10px;
}

[class|=col] {
  border: 5px solid gold;
}

button {
  margin: 10px;
}

.container-fluid {
  padding: 0;
}

.mainHeader {
  background: $primarycolor url("../images/river.jpg") no-repeat center scroll;
  color:white;
  padding:200px;
  display: table;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  max-height: 150px;
  box-sizing: border-box;
  border: solid 5px red;
}
.navbar.navbar-default {
  margin-bottom: 0;
}
// 4 boxes in grey line
.greyLine {
  background-color: $rowcolor;
}


// paralax

.paralax {
  background-color:$primarycolor;
}

//ourTeam
.buttonRound {
  border: solid 1px $primarycolor;
  color: cadetblue;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

/* visited link */
.buttonRound:visited {
  color: $secendarycolor;
}

/* mouse over link */
.buttonRound:hover {
  color: $secendarycolor;
  border: solid 1px $secendarycolor;
  text-decoration: none;
}

/* selected link */
.buttonRound:active {
  color: blue;
  text-decoration: none;
}

.biggerCircle {
  padding: 40px;
  background-color: $rowcolor;
}

// ########## our skills

.progress-bar{
  background-color: $primarycolor;
}

// ########### 365